:root {
    --brand-accent:#dd0000;
    --neutral-grey: #d7d7d7;
    --neutral-light-grey:#f0f0f0;
    --accent-grey: #34323d;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 900;
}

h1 {
    font-size: 2.8rem;
    padding: 1.2rem 0;
}

h2, h3, h5, small, .subscriber {
    font-family:Arial, Helvetica, sans-serif;
    color: var(--brand-accent);
}

h2::first-letter {
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 0.9rem;
}

h5 {
    font-size: 0.65rem;
    font-weight: 900;
    text-transform: capitalize;
}

html {
    font-family: 'Neuton', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

header {
}

header.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
}

header.main-header a {
    font-weight: 900;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

header div > ul {
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
    width: 10rem;
}

ul.burger li:last-child {
    margin-left: 1rem;
}

.logo {
    width: 420px;
}

.user-container ul li {
    margin-left: 1rem;
}

.user {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

/* NAVIGATION BANNER */

nav {
    padding: 0.6rem 0;
    border-top:1px solid var(--neutral-light-grey);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

nav ul li a {
    font-weight: 700;
    font-size: 0.8rem;
    text-transform:capitalize;
    text-decoration: none;
    color: black;
}

.nav-banner {
    display: flex;
    justify-content: space-around;
    width: 20rem;
    margin: 0 auto;
}

.banner-add {
    margin: 2rem auto;
    background-color: var(--neutral-light-grey);
    height: 160px;
    max-width: 960px;
}

main {
    max-width: 960px;
    margin: 4rem auto 10rem;
}

main > article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

main article img.article-img {
    width: 100%;
}

.subheading {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 0 1.6rem 0;
    color: #746f87;
}

.section-header {
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
    width: 100%;
    background-color: aqua;        
    margin: 0 0 1rem 0;
    padding: 1rem 0;
    border-bottom: 1px dotted #746f87;
}

.article-cover {
    position: relative;
}

.img-description {
    position: absolute;
    left: -16rem;
    top:0;
    width: 50%;
    padding: 0 1rem 0;
    text-align: right;
    font-size: 0.9rem;
    color: #746f87;
}

.cat-date {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
    padding: 1rem 0;
    border-bottom: 1px dotted #746f87;
}

.share-some {
    float: left;
    height: 50px;
    width: 50px;
}

.share-some::after {
    clear: both;
}

.share-some li {
    padding: 1rem;
}

.article-content {
    position: relative;
}

.article-content p {
    float: left;
}

.subscribe {
    background-color:beige;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0px -50px 25px 20px rgb(255, 255, 255);
    text-align: center;
}

.subscribe::before {
    clear: both;
}

.subscribe a.btn {
    padding: 1rem;
    display: block;
    margin: 0 auto;
    background-color:var(--brand-accent);
    border-radius: 4px;
}

.recommendations {
    max-width: 960px;
    margin: 0 auto;
}

.recommendations::after {
    clear: both;
}

.carousel {
    display: flex;
    grid-column: 1/-1;
}

.featured {
    float: left;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.featured article {
    position: relative;
    padding: 1rem 0;
}

.latest-news {
    float: left;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 0;
}

.subscriber {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 900;
    position: absolute;
    top: 0rem;
}

.comments-container {
    width: 75%;
}

.comments {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}

.comments h5 {
    width: 100%;
    background-color: aqua;        
    margin: 0 0 1rem 0;
    padding: 1rem 0;
    border-bottom: 1px dotted #746f87;
}

.recommend {
    padding: 0 1rem 0 0;
    width: 25%;
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: var(--neutral-grey);
    padding: 2rem;
    margin: 6rem 0 0;
}

footer ul li::first-letter {
    text-transform: capitalize;
}

.wdgt img {
    top:-1rem;
    position: absolute;
}

.wdgt h5 {
    color:var(--accent-grey);
    font-weight: 900;
    padding: 0.8rem 0 0.8rem 0;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.wdgt a {
    color:var(--accent-grey);
    font-size: 0.6rem;
    font-weight: 800;
}

.wdgt p {
    padding:0.2rem 0 0.8rem 0;
    font-size: 0.8rem;
    color: #777777;
}

.wdgt button, .wdgt input {
    padding: 0.4rem;
    border: none;
}

.wdgt button {
    font-weight: bold;
}

.wdgt input {
    border-radius: 4px;
}

footer > small {
    grid-column: 1/-1;
    text-align: center;
    padding: 1rem 0 0;
    margin: 1rem 0 0;
    border-top:1px solid black;
    font-size: 0.7rem;
    color: var(--accent-grey);
}

footer > a {
    grid-column: 1/-1;
    margin: 0 auto;
    padding: 0.6rem;
    background-color: var(--neutral-light-grey);
    color: var(--accent-grey);
    font-weight: 900;
    font-size: 0.6rem;
}

ul.about li:last-child {
    margin-top: 1rem;
}

/* UTILITY */

.clearfix {
    clear: both;
}